doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
        link(rel="stylesheet", href="assets/css/style.css")
        script(src="https://cdn.tailwindcss.com")
        script(src="tailwind.config.js")
        title Page Home
    body 
        //- Top Head
        div(class="bg-primary py-[10px]")
            div(class="container mx-auto relative")
                div(class="text-white text-center sm:text-[14px] text-[12px]")
                    span Đăng ký để được giảm giá 20%.
                    a(href="#" class="underline font-[500] ml-[4px]") Đăng Ký Ngay
                div(class="text-white absolute right-[0] top-[-4px] text-[20px] cursor-pointer sm:inline hidden") <i class="fa-solid fa-xmark"></i>
        //- End Top Head

        //- Header
        div(class="bg-white sm:py-[24px] py-[20px]")
            div(class="container mx-auto flex items-center justify-between sm:px-0 px-[16px]")
                div(class="lg:hidden mr-[16px] text-[24px] cursor-pointer") 
                    <i class="fa-solid fa-bars"></i>

                div(class="lg:flex-none flex-1")
                    a(href="#" class="text-[32px] font-[700]") 28.SHOP

                nav(class="lg:block hidden")
                    ul(class="flex mx-[40px]")
                        li(class="mr-[24px]")
                            a(href="#" class="text-[16px]") Giới Thiệu
                        li(class="mr-[24px]")
                            a(href="#" class="text-[16px]") Sản Phẩm
                        li(class="mr-[24px]")
                            a(href="#" class="text-[16px]") Bài Viết
                        li(class="")
                            a(href="#" class="text-[16px]") Liên Hệ

                form(action="" class="h-[48px] relative flex-1 lg:block hidden")
                    input(type="text" class="bg-[#f0f0f0] outline-0 rounded-[32px] py-[14px] pl-[52px] w-full flex-1" placeholder="Tìm kiếm sản phẩm...")
                    button(type="submit" class="absolute top-[12px] left-[16px] text-[20px] text-primary opacity-40") <i class="fa-solid fa-magnifying-glass"></i>
                
                div(class="ml-[40px]")
                    a(href="#" class="text-[24px] text-primary sm:mr-[16px] mr-[14px] lg:hidden inline") <i class="fa-solid fa-magnifying-glass"></i>
                    a(href="#" class="text-[24px] text-primary sm:mr-[16px] mr-[14px]") <i class="fa-solid fa-cart-shopping"></i>
                    a(href="#" class="text-[24px] text-primary") <i class="fa-regular fa-user"></i>
        //- End header

        //- Section-1
        div(class="bg-[#F2F0F1]")
            div(class="container mx-auto sm:px-0 px-[16px] flex justify-between items-center flex-wrap")
                //- Left
                div(class="md:w-[48%] w-full lg:mt-0 md:mt-[20px] mt-[40px]")
                    h1(class="sm:font-[900] font-[700] xl:text-[48px] lg:text-[38px] text-[28px] sm:mb-[30px] mb-[20px]") CHUYÊN THỜI TRANG PHONG CÁCH, HIỆN ĐẠI
                    div(class="font-[400] lg:mb-[50px] mb-[30px] text-black opacity-60 xl:text-[16px] lg:text-[14px]") Chúng tôi chuyên cung cấp nhiều loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.
                    a(href="#" class="bg-primary sm:mb-[50px] mb-[30px] text-white py-[16px] px-[65px] sm:inline-block block rounded-[62px] font-[500] text-center") Xem Ngay
                    div(class="flex flex-wrap sm:flex-nowrap mt-[30px]")
                        div(class="sm:mr-[32px] sm:pr-[32px] sm:border-r sm:border-gray-300 sm:w-auto w-[50%] sm:text-left text-center") 
                            div(class="xl:text-[40px] text-[24px] font-[700] text-primary") 200+
                            div(class=" xl:text-[16px] lg:text-[14px] text-[12px] opacity-60") Thương Hiệu 
                        div(class="sm:mr-[32px] sm:pr-[32px] sm:border-r sm:border-gray-300 sm:w-auto w-[50%] sm:text-left text-center") 
                            div(class="xl:text-[40px] text-[24px] font-[700] text-primary") 2,000+
                            div(class="xl:text-[16px] lg:text-[14px] text-[12px] opacity-60") Sản Phẩm Chất Lượng 
                        div(class="sm:w-auto w-[100%] sm:text-left text-center sm:mt-0 mt-[10px]") 
                            div(class="xl:text-[40px] text-[24px] font-[700] text-primary") 30,000+
                            div(class="xl:text-[16px] lg:text-[14px] text-[12px] opacity-60") Khách Hàng 
                //- Right
                div(class="md:w-[48%] w-full relative truncate")
                    img(src="assets/images/Banner.jpg" class="w-full pt-[50px] mb-[-2px]")
                    img(src="assets/images/Vector.svg" class="absolute top-[46%] left-0 w-[56px] sm:block hidden")
                    img(src="assets/images/Vector.svg" class="absolute top-[14%] right-0 lg:w-[104px] w-[80px] sm:block hidden")
        //- End section-1

        //- section-1 bottom
        div(class="bg-primary py-[28px]")
            div(class="container mx-auto sm:px-0 px-[16px] flex justify-center items-center flex-wrap")
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-1.png", alt="" class="sm:h-[32px] h-[23px] w-auto") 
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-2.png", alt="" class="sm:h-[32px] h-[23px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-3.png", alt="" class="sm:h-[32px] h-[23px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-4.png", alt="" class="sm:h-[32px] h-[23px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-5.png", alt="" class="sm:h-[32px] h-[23px] w-auto")
        //- End section-1 bottom

        //- Section-3
        div(class="bg-white lg:py-[62px] py-[40px]")
            div(class="container mx-auto sm:px-0 px-[16px]")
                h2(class="lg:text-[48px] text-[32px] font-bold text-primary text-center lg:mb-[54px] mb-[32px]" data-aos="zoom-in" data-aos-duration="800") THỜI TRANG MỚI

                div(class="grid lg:grid-cols-4 grid-cols-2 gap-[20px]")
                    div(class="")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                img(src="assets/images/clother-1.jpg" alt="" class="w-full h-full object-cover")
                            h3(class="md:mt-[20px] mt-[12px] md:mb-[10px] mb-[6px] md:text-[18px] text-[14px] font-bold") Áp Thun Nam Đơn Giản
                            div(class="md:mb-[10px] mb-[5px] flex items-center")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] md:text-[14px] text-[12px] opacity-60") 5/5
                            div(class="flex items-center flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 120.000đ
                                span(class="md:text-[14px] text-[12px] font-bold mr-[10px] opacity-40 line-through hidden") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-medium text-[#FF3333] px-[12px] py-[6px] rounded-[62px] bg-[#FFEBEB] hidden") -20%
                    div(class="")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                img(src="assets/images/clother-2.jpg" alt="" class="w-full h-full object-cover")
                            h3(class="md:mt-[20px] mt-[12px] md:mb-[10px] mb-[6px] md:text-[18px] text-[14px] font-bold") Quần Jean Nam Phong Cách
                            div(class="md:mb-[10px] mb-[5px] flex items-center")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] md:text-[14px] text-[12px] opacity-60") 5/5
                            div(class="flex items-center flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 480.000đ
                                span(class="md:text-[14px] text-[12px] font-bold mr-[10px] opacity-40 line-through") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-medium text-[#FF3333] px-[12px] py-[6px] rounded-[62px] bg-[#FFEBEB]") -20%
                    div(class="")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                img(src="assets/images/clother-3.jpg" alt="" class="w-full h-full object-cover")
                            h3(class="md:mt-[20px] mt-[12px] md:mb-[10px] mb-[6px] md:text-[18px] text-[14px] font-bold") Áo Sơ Mi Caro
                            div(class="md:mb-[10px] mb-[5px] flex items-center")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] md:text-[14px] text-[12px] opacity-60") 5/5
                            div(class="flex items-center flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 220.000đ
                                span(class="md:text-[14px] text-[12px] font-bold mr-[10px] opacity-40 line-through hidden") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-medium text-[#FF3333] px-[12px] py-[6px] rounded-[62px] bg-[#FFEBEB] hidden") -20%
                    div(class="")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                img(src="assets/images/clother-4.jpg" alt="" class="w-full h-full object-cover")
                            h3(class="md:mt-[20px] mt-[12px] md:mb-[10px] mb-[6px] md:text-[18px] text-[14px] font-bold") Áo Thun Nam Sọc Cam
                            div(class="md:mb-[10px] mb-[5px] flex items-center")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] md:text-[14px] text-[12px] opacity-60") 5/5
                            div(class="flex items-center flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 480.000đ
                                span(class="md:text-[14px] text-[12px] font-bold mr-[10px] opacity-40 line-through") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-medium text-[#FF3333] px-[12px] py-[6px] rounded-[62px] bg-[#FFEBEB]") -20%
                div(class="text-center lg:mt-[40px] mt-[30px]")
                    a(href="#" class="sm:inline-block block md:text-[16px] text-[14px] font-medium md:py-[16px] py-[14px] px-[63px] border rounded-[62px]") Xem Tất Cả
                div(class="border-[1px] mt-[64px]")

        //- Section-4
        div(class="bg-white lg:pb-[62px] pb-[40px]")
            div(class="container mx-auto sm:px-0 px-[16px]")
                h2(class="lg:text-[48px] text-[32px] font-bold text-center lg:mb-[54px] mb-[32px]") GIẢM GIÁ NHIỀU

                div(class="grid lg:grid-cols-4 grid-cols-2 gap-[20px]")
                    div(class="")
                        a(href="#") 
                            div(class="aspect-square truncate w-full")
                                img(src="assets/images/panter-3.png" class="w-full h-full rounded-[20px]")
                            div(class="md:text-[20px] text-[14px] font-bold mt-[20px] mb-[10px]") Áo Sơ Mi Sọc Dọc
                            div(class="flex items-center")
                                div(class="text-[#FFC633] md:text-[19px] text-[15px] mb-[10px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] opacity-60 md:text-[14px] text-[12px] ") 5/5
                            div(class="flex flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 120.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] font-bold opacity-40 line-through hidden") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-[500] text-[#FF3333] bg-[#FF33331A] px-[12px] py-[6px] rounded-[62px] hidden") -20%
                    div(class="")
                        a(href="#") 
                            div(class="aspect-square truncate w-full")
                                img(src="assets/images/panter-4.png" class="w-full h-full rounded-[20px]")
                            div(class="md:text-[20px] text-[14px] font-bold mt-[20px] mb-[10px]") Áo Thun Nam In Hình
                            div(class="flex items-center")
                                div(class="text-[#FFC633] md:text-[19px] text-[15px] mb-[10px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] opacity-60 md:text-[14px] text-[12px] ") 5/5
                            div(class="flex flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 480.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] font-bold opacity-40 line-through") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-[500] text-[#FF3333] bg-[#FF33331A] px-[12px] py-[6px] rounded-[62px]") -20%

                    div(class="")
                        a(href="#") 
                            div(class="aspect-square truncate w-full")
                                img(src="assets/images/panter-1.png" class="w-full h-full rounded-[20px]")
                            div(class="md:text-[20px] text-[14px] font-bold mt-[20px] mb-[10px]") Quần Short Bermuda
                            div(class="flex items-center")
                                div(class="text-[#FFC633] md:text-[19px] text-[15px] mb-[10px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] opacity-60 md:text-[14px] text-[12px] ") 5/5
                            div(class="flex flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 220.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] font-bold opacity-40 line-through hidden") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-[500] text-[#FF3333] bg-[#FF33331A] px-[12px] py-[6px] rounded-[62px] hidden") -20%

                    div(class="")
                        a(href="#") 
                            div(class="aspect-square truncate w-full")
                                img(src="assets/images/panter-2.png" class="w-full h-full rounded-[20px]")
                            div(class="md:text-[20px] text-[14px] font-bold mt-[20px] mb-[10px]") Quần Jean Màu Đen
                            div(class="flex items-center")
                                div(class="text-[#FFC633] md:text-[19px] text-[15px] mb-[10px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] opacity-60 md:text-[14px] text-[12px] ") 5/5
                            div(class="flex flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 126.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] font-bold opacity-40 line-through") 180.000đ
                                span(class="md:text-[12px] text-[10px] font-[500] text-[#FF3333] bg-[#FF33331A] px-[12px] py-[6px] rounded-[62px]") -30%
                div(class="text-center lg:mt-[40px] mt-[30px]")
                    a(href="#" class="sm:inline-block block md:text-[16px] text-[14px] font-medium md:py-[16px] py-[14px] px-[63px] border rounded-[62px]") Xem Tất Cả
        //- end section-4
        //- Section-5
        div(class="bg-white md:mb-[86px] mb-[40px]")
            div(class="container mx-auto sm:px-0 px-[16px]")
                div(class="bg-[#F0F0F0] md:px-[64px] px-[24px] md:py-[76px] py-[28px] md:rounded-[40px] rounded-[20px]")
                    h2(class="lg:text-[48px] text-[32px] font-bold text-center lg:mb-[54px] md:mb-[32px] mb-[16px]") DANH MỤC NỔI BẬT
                    div(class="grid lg:grid-cols-3 grid-cols-1 gap-[20px]")
                        div(class="relative rounded-[20px] truncate")
                            a(href="")
                                h3(class="absolute md:top-[26px] top-[17px] left-[24px] md:left-[36px] font-bold md:text-[36px] text-[24px]") Đơn Giản
                                img(src="assets/images/ilutranstion-1.jpg" class="md:h-[289px] h-[190px] w-full object-cover")
                        div(class="lg:col-span-2 col-span-1 relative rounded-[20px] truncate ")
                            a(href="")
                                h3(class="absolute md:top-[26px] top-[17px] left-[24px] md:left-[36px] font-bold md:text-[36px] text-[24px]") Lịch Lãm
                                img(src="assets/images/ilutranstion-2.jpg" class="md:h-[289px] h-[190px] w-full object-cover")
                        div(class="lg:col-span-2 col-span-1 relative rounded-[20px] truncate")
                            a(href="")
                                h3(class="absolute md:top-[26px] top-[17px] left-[24px] md:left-[36px] font-bold md:text-[36px] text-[24px]") Dạ Hội
                                img(src="assets/images/ilutranstion-3.jpg" class="md:h-[289px] h-[190px] w-full object-cover")
                        div(class="relative rounded-[20px] truncate")
                            a(href="")
                                h3(class="absolute md:top-[26px] top-[17px] left-[24px] md:left-[36px] font-bold md:text-[36px] text-[24px]") Gym
                                img(src="assets/images/ilutranstion-4.jpg" class="md:h-[289px] h-[190px] w-full object-cover")
        //- end section-5

        //- Section-6
        div(class="mb-[80px]")
            div(class="container mx-auto sm:px-0 px-[16px]")
                h2(class="lg:text-[48px] text-[32px] font-bold lg:mb-[38px] mb-[32px]") CẢM NHẬN CỦA KHÁCH HÀNG
                
                div(class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[20px]")
                    div(class="border rounded-[20px] md:py-[28px] md:px-[32px] py-[24px] px-[24px]")
                        div(class="md:text-[20px] text-[19px] text-[#FFC633] md:mb-[15px] mb-[12px]")
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        div(class="md:text-[20px] md:text-[16px] font-bold md:mb-[12px] mb-[8px]")
                            span(class="mr-[4px]") Le Van A
                            <i class="fa-solid fa-circle-check text-[#01AB31]"></i>
                        div(class="md:text-[16px] text-[14px] opacity-40") "Tôi rất ngạc nhiên trước chất lượng và kiểu dáng của những bộ quần áo từ 28.SHOP. Từ trang phục thường ngày đến trang phục thanh lịch, mọi món đồ tôi mua đều vượt quá sự mong đợi của tôi."

                    div(class="border rounded-[20px] md:py-[28px] md:px-[32px] py-[24px] px-[24px]")
                        div(class="md:text-[20px] text-[19px] text-[#FFC633] md:mb-[15px] mb-[12px]")
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        div(class="md:text-[20px] md:text-[16px] font-bold md:mb-[12px] mb-[8px]")
                            span(class="mr-[4px]") Le Van B
                            <i class="fa-solid fa-circle-check text-[#01AB31]"></i>
                        div(class="md:text-[16px] text-[14px] opacity-40") "Việc tìm kiếm quần áo phù hợp với phong cách cá nhân của tôi từng là một thử thách cho đến khi tôi khám phá ra 28.SHOP. Hàng loạt lựa chọn mà họ cung cấp thực sự đáng chú ý."

                    div(class="border rounded-[20px] md:py-[28px] md:px-[32px] py-[24px] px-[24px]")
                        div(class="md:text-[20px] text-[19px] text-[#FFC633] md:mb-[15px] mb-[12px]")
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        div(class="md:text-[20px] md:text-[16px] font-bold md:mb-[12px] mb-[8px]")
                            span(class="mr-[4px]") Le Van C
                            <i class="fa-solid fa-circle-check text-[#01AB31]"></i>
                        div(class="md:text-[16px] text-[14px] opacity-40") "Là một người luôn tìm kiếm những món đồ thời trang độc đáo, tôi rất vui khi tình cờ biết đến 28.SHOP. Việc lựa chọn quần áo không chỉ đa dạng mà còn bắt kịp xu hướng mới nhất."    
        //- end section-6
        //- section-7
        div(class="relative")
            div(class="container mx-auto sm:px-0 px-[16px]")
                div(class="bg-black md:px-[64px] px-[24px] py-[32px]  rounded-[20px] flex items-center lg:flex-nowrap flex-wrap")
                    h2(class="text-white md:text-[40px] text-[32px] font-700 lg:w-[550px] w-full font-bold lg:mr-[106px] lg:text-left text-center md:mb-[0px] mb-[20px]") CẬP NHẬT VỀ ƯU ĐÃI MỚI NHẤT CỦA CHÚNG TÔI
                    form(class="lg:w-[350px] lg:ml-[106px] w-full")
                        div(class="relative")
                            <i class="fa-regular fa-envelope absolute left-[17px] top-[14.5px] text-[20px] opacity-40"></i>
                            input(type="email" placeholder="Nhập email của bạn..." class="h-[48px] w-full rounded-[20px] pl-[52px] pr-[10px] outline-none") 
                        button(class="bg-[#FFFFFF] lg:mt-[14px] mt-[12px] w-full px-[16px] py-[12px] rounded-[62px]") Đăng Ký Nhận Tin
        //- end section-7
        //- footer
        div(class="bg-[#F0F0F0] pt-[142px] pb-[52px] mt-[-92px]")
            div(class="container mx-auto sm:px-0 px-[16px]")
                div(class="flex justify-between border-b md:pb-[48px] pb-[38px] mb-[20px] border-gray-300 flex-wrap")
                    div(class="lg:w-[248px] w-full lg:mb-[0px] mb-[40px]") 
                        div(class="md:text-[34px] text-[28px] font-bold md:mb-[25px] mb-[20px]") 28.SHOP
                        div(class="text-[14px] font-[400] opacity-60 md:mb-[35px] mb-[20px]") Chúng tôi có những bộ quần áo phù hợp với phong cách của bạn và bạn có thể tự hào khi mặc.
                        div(class="")
                            a(href="#" class="w-[28px] h-[28px] border border-gray-400 rounded-[50%] inline-flex items-center justify-center bg-white mr-[12px]") <i class="fa-brands fa-x-twitter"></i>
                            a(href="#" class="w-[28px] h-[28px] border border-gray-400 rounded-[50%] inline-flex items-center justify-center bg-black mr-[12px]") <i class="fa-brands fa-facebook-f text-white"></i>
                            a(href="#" class="w-[28px] h-[28px] border border-gray-400 rounded-[50%] inline-flex items-center justify-center bg-white mr-[12px]") <i class="fa-brands fa-instagram"></i>
                    div(class="md:w-[115px] w-[50%]") 
                        div(class="font-[500] mb-[26px]") CÔNG TY
                        ul(class="opacity-60")
                            li(class="mb-[10px]")
                                a(href="" class="") Giới Thiệu          
                            li(class="mb-[10px]")
                                a(href="" class="") Sản Phẩm          
                            li(class="mb-[10px]")
                                a(href="" class="") Công Việc   
                            li(class="")
                                a(href="" class="") Việc Làm  
                    div(class="md:w-[182px] w-[50%] md:mb-[0px] mb-[20px]") 
                        div(class="font-[500] mb-[26px]") Trợ giúp
                        ul(class="opacity-60")
                            li(class="mb-[10px]")
                                a(href="" class="") Hỗ Trợ Khách Hàng        
                            li(class="mb-[10px]")
                                a(href="" class="") Thông Tin Đơn Hàng       
                            li(class="mb-[10px]")
                                a(href="" class="") Điều Khoản & Điều Kiện  
                            li(class="")
                                a(href="" class="") Chính Sách  
                    div(class="md:w-[149px] w-[50%] md:mb-[0px] mb-[20px]") 
                        div(class="font-[500] mb-[26px]") FAQ
                        ul(class="opacity-60")
                            li(class="mb-[10px]")
                                a(href="" class="") Tài Khoản         
                            li(class="mb-[10px]")
                                a(href="" class="") Quản Lý Đơn Hàng          
                            li(class="mb-[10px]")
                                a(href="" class="") Đơn Hàng   
                            li(class="")
                                a(href="" class="") Thanh Toán
                    div(class="md:w-[132px] w-[50%] md:mb-[0px] mb-[20px]") 
                        div(class="font-[500] mb-[26px]") Tài nguyên
                        ul(class="opacity-60")
                            li(class="mb-[10px]")
                                a(href="" class="") Sách Miễn Phí        
                            li(class="mb-[10px]")
                                a(href="" class="") Bài Viết          
                            li(class="mb-[10px]")
                                a(href="" class="") Kiến Thức   
                            li(class="")
                                a(href="" class="") Youtube
                div(class="flex justify-between items-center flex-wrap")
                    div(class="font-400 text-[14px] opacity-60 md:w-[258px] w-full md:text-left text-center") 28.SHOP © 2024, All Rights Reserved
                    div(class="flex md:justify-between justify-center items-center md:w-[282px] w-full md:mt-[0px] mt-[20px]") 
                        a(href="#" class="inline-flex bg-white w-[47px] h-[30px] rounded-[6px] px-[9px] py-[7px] items-center md:mr-[0px] mr-[12px]")
                            img(src="assets/images/bank-1.png" class="inline-flex w-[32px] h-[10px]")
                        a(href="#" class="inline-flex bg-white w-[47px] h-[30px] rounded-[6px] px-[9px] py-[7px] items-center md:mr-[0px] mr-[12px]")
                            img(src="assets/images/bank-2.png" class="")
                        a(href="#" class="inline-flex bg-white w-[47px] h-[30px] rounded-[6px] px-[9px] py-[7px] items-center md:mr-[0px] mr-[12px]")
                            img(src="assets/images/bank-3.png" class="")
                        a(href="#" class="inline-flex bg-white w-[47px] h-[30px] rounded-[6px] px-[9px] py-[7px] items-center md:mr-[0px] mr-[12px]")
                            img(src="assets/images/bank-4.png" class="")
                        a(href="#" class="inline-flex bg-white w-[47px] h-[30px] rounded-[6px] px-[9px] py-[7px] items-center")
                            img(src="assets/images/bank-5.png" class="")
        //- end footer