doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
        link(rel="stylesheet", href="assets/css/style.css")
        script(src="https://cdn.tailwindcss.com")
        script(src="tailwind.config.js")
        title Home
    body 
        //- Top Head
        div(class="bg-primary py-[10px]")
            div(class="container mx-auto relative")
                div(class="text-white text-center sm:text-[14px] text-[12px]")
                    span Đăng ký để được giảm giá 20%.
                    a(href="#" class="underline font-[500] ml-[4px]") Đăng Ký Ngay
                div(class="text-white absolute right-[0] top-[-4px] text-[20px] cursor-pointer sm:inline hidden") <i class="fa-solid fa-xmark"></i>
        //- End Top Head

        //- Header
        div(class="bg-white sm:py-[24px] py-[20px]")
            div(class="container mx-auto flex items-center justify-between sm:px-0 px-[16px]")
                div(class="lg:hidden mr-[16px] text-[24px] cursor-pointer") 
                    <i class="fa-solid fa-bars"></i>

                div(class="lg:flex-none flex-1")
                    a(href="#" class="text-[32px] font-[700]") 28.SHOP

                nav(class="lg:block hidden")
                    ul(class="flex mx-[40px]")
                        li(class="mr-[24px]")
                            a(href="#" class="text-[16px]") Giới Thiệu
                        li(class="mr-[24px]")
                            a(href="#" class="text-[16px]") Sản Phẩm
                        li(class="mr-[24px]")
                            a(href="#" class="text-[16px]") Bài Viết
                        li(class="")
                            a(href="#" class="text-[16px]") Liên Hệ

                form(action="" class="h-[48px] relative flex-1 lg:block hidden")
                    input(type="text" class="bg-[#f0f0f0] outline-0 rounded-[32px] py-[14px] pl-[52px] w-full flex-1" placeholder="Tìm kiếm sản phẩm...")
                    button(type="submit" class="absolute top-[12px] left-[16px] text-[20px] text-primary opacity-40") <i class="fa-solid fa-magnifying-glass"></i>
                
                div(class="ml-[40px]")
                    a(href="#" class="text-[24px] text-primary sm:mr-[16px] mr-[14px] lg:hidden inline") <i class="fa-solid fa-magnifying-glass"></i>
                    a(href="#" class="text-[24px] text-primary sm:mr-[16px] mr-[14px]") <i class="fa-solid fa-cart-shopping"></i>
                    a(href="#" class="text-[24px] text-primary") <i class="fa-regular fa-user"></i>
        //- End header

        //- Section-1
        div(class="bg-[#F2F0F1]")
            div(class="container mx-auto sm:px-0 px-[16px] flex justify-between items-center flex-wrap")
                //- Left
                div(class="md:w-[48%] w-full lg:mt-0 md:mt-[20px] mt-[40px]")
                    h1(class="sm:font-[900] font-[700] xl:text-[48px] lg:text-[38px] text-[28px] sm:mb-[30px] mb-[20px]") CHUYÊN THỜI TRANG PHONG CÁCH, HIỆN ĐẠI
                    div(class="font-[400] lg:mb-[50px] mb-[30px] text-black opacity-60 xl:text-[16px] lg:text-[14px]") Chúng tôi chuyên cung cấp nhiều loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.
                    a(href="#" class="bg-primary sm:mb-[50px] mb-[30px] text-white py-[16px] px-[65px] sm:inline-block block rounded-[62px] font-[500] text-center") Xem Ngay
                    div(class="flex flex-wrap sm:flex-nowrap mt-[30px]")
                        div(class="sm:mr-[32px] sm:pr-[32px] sm:border-r sm:border-gray-300 sm:w-auto w-[50%] sm:text-left text-center") 
                            div(class="xl:text-[40px] text-[24px] font-[700] text-primary") 200+
                            div(class=" xl:text-[16px] lg:text-[14px] text-[12px] opacity-60") Thương Hiệu 
                        div(class="sm:mr-[32px] sm:pr-[32px] sm:border-r sm:border-gray-300 sm:w-auto w-[50%] sm:text-left text-center") 
                            div(class="xl:text-[40px] text-[24px] font-[700] text-primary") 2,000+
                            div(class="xl:text-[16px] lg:text-[14px] text-[12px] opacity-60") Sản Phẩm Chất Lượng 
                        div(class="sm:w-auto w-[100%] sm:text-left text-center sm:mt-0 mt-[10px]") 
                            div(class="xl:text-[40px] text-[24px] font-[700] text-primary") 30,000+
                            div(class="xl:text-[16px] lg:text-[14px] text-[12px] opacity-60") Khách Hàng 
                //- Right
                div(class="md:w-[48%] w-full relative truncate")
                    img(src="assets/images/Banner.jpg" class="w-full pt-[50px] mb-[-2px]")
                    img(src="assets/images/Vector.svg" class="absolute top-[46%] left-0 w-[56px] sm:block hidden")
                    img(src="assets/images/Vector.svg" class="absolute top-[14%] right-0 lg:w-[104px] w-[80px] sm:block hidden")
        //- End section-1

        //- section-1 bottom
        div(class="bg-primary py-[28px]")
            div(class="container mx-auto sm:px-0 px-[16px] flex justify-center items-center flex-wrap")
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-1.png", alt="" class="sm:h-[32px] h-[23px] w-auto") 
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-2.png", alt="" class="sm:h-[32px] h-[23px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-3.png", alt="" class="sm:h-[32px] h-[23px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-4.png", alt="" class="sm:h-[32px] h-[23px] w-auto")
                div(class="sm:mx-[30px] mx-[17px] my-[15px]")
                    img(src="assets/images/Logo-5.png", alt="" class="sm:h-[32px] h-[23px] w-auto")
        //- End section-1 bottom

        //- Section-3
        div(class="bg-white lg:py-[62px] py-[40px]")
            div(class="container mx-auto sm:px-0 px-[16px]")
                h2(class="lg:text-[48px] text-[32px] font-bold text-primary text-center lg:mb-[54px] mb-[32px]" data-aos="zoom-in" data-aos-duration="800") THỜI TRANG MỚI

                div(class="grid lg:grid-cols-4 grid-cols-2 gap-[20px]")
                    div(class="")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                img(src="assets/images/clother-1.jpg" alt="" class="w-full h-full object-cover")
                            h3(class="md:mt-[20px] mt-[12px] md:mb-[10px] mb-[6px] md:text-[18px] text-[14px] font-bold") Áp Thun Nam Đơn Giản
                            div(class="md:mb-[10px] mb-[5px] flex items-center")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] md:text-[14px] text-[12px] opacity-60") 5/5
                            div(class="flex items-center flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 120.000đ
                                span(class="md:text-[14px] text-[12px] font-bold mr-[10px] opacity-40 line-through hidden") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-medium text-[#FF3333] px-[12px] py-[6px] rounded-[62px] bg-[#FFEBEB] hidden") -20%
                    div(class="")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                img(src="assets/images/clother-2.jpg" alt="" class="w-full h-full object-cover")
                            h3(class="md:mt-[20px] mt-[12px] md:mb-[10px] mb-[6px] md:text-[18px] text-[14px] font-bold") Quần Jean Nam Phong Cách
                            div(class="md:mb-[10px] mb-[5px] flex items-center")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] md:text-[14px] text-[12px] opacity-60") 5/5
                            div(class="flex items-center flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 480.000đ
                                span(class="md:text-[14px] text-[12px] font-bold mr-[10px] opacity-40 line-through") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-medium text-[#FF3333] px-[12px] py-[6px] rounded-[62px] bg-[#FFEBEB]") -20%
                    div(class="")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                img(src="assets/images/clother-3.jpg" alt="" class="w-full h-full object-cover")
                            h3(class="md:mt-[20px] mt-[12px] md:mb-[10px] mb-[6px] md:text-[18px] text-[14px] font-bold") Áo Sơ Mi Caro
                            div(class="md:mb-[10px] mb-[5px] flex items-center")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] md:text-[14px] text-[12px] opacity-60") 5/5
                            div(class="flex items-center flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 220.000đ
                                span(class="md:text-[14px] text-[12px] font-bold mr-[10px] opacity-40 line-through hidden") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-medium text-[#FF3333] px-[12px] py-[6px] rounded-[62px] bg-[#FFEBEB] hidden") -20%
                    div(class="")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                img(src="assets/images/clother-4.jpg" alt="" class="w-full h-full object-cover")
                            h3(class="md:mt-[20px] mt-[12px] md:mb-[10px] mb-[6px] md:text-[18px] text-[14px] font-bold") Áo Thun Nam Sọc Cam
                            div(class="md:mb-[10px] mb-[5px] flex items-center")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] md:text-[14px] text-[12px] opacity-60") 5/5
                            div(class="flex items-center flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 480.000đ
                                span(class="md:text-[14px] text-[12px] font-bold mr-[10px] opacity-40 line-through") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-medium text-[#FF3333] px-[12px] py-[6px] rounded-[62px] bg-[#FFEBEB]") -20%
                div(class="text-center lg:mt-[40px] mt-[30px]")
                    a(href="#" class="sm:inline-block block md:text-[16px] text-[14px] font-medium md:py-[16px] py-[14px] px-[63px] border rounded-[62px]") Xem Tất Cả
                div(class="border-[1px] mt-[64px]")
        //- Section-4
        div(class="bg-white lg:pb-[62px] pb-[40px]")
            div(class="container mx-auto sm:px-0 px-[16px]")
                h2(class="lg:text-[48px] text-[32px] font-bold text-center lg:mb-[54px] mb-[32px]") GIẢM GIÁ NHIỀU

                div(class="grid lg:grid-cols-4 grid-cols-2 gap-[20px]")
                    div(class="")
                        a(href="#") 
                            div(class="aspect-square truncate w-full")
                                img(src="assets/images/panter-3.png" class="w-full h-full rounded-[20px]")
                            div(class="md:text-[20px] text-[14px] font-bold mt-[20px] mb-[10px]") Áo Sơ Mi Sọc Dọc
                            div(class="flex items-center")
                                div(class="text-[#FFC633] md:text-[19px] text-[15px] mb-[10px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] opacity-60 md:text-[14px] text-[12px] ") 5/5
                            div(class="flex flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 120.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] font-bold opacity-40 line-through hidden") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-[500] text-[#FF3333] bg-[#FF33331A] px-[12px] py-[6px] rounded-[62px] hidden") -20%
                    div(class="")
                        a(href="#") 
                            div(class="aspect-square truncate w-full")
                                img(src="assets/images/panter-4.png" class="w-full h-full rounded-[20px]")
                            div(class="md:text-[20px] text-[14px] font-bold mt-[20px] mb-[10px]") Áo Thun Nam In Hình
                            div(class="flex items-center")
                                div(class="text-[#FFC633] md:text-[19px] text-[15px] mb-[10px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] opacity-60 md:text-[14px] text-[12px] ") 5/5
                            div(class="flex flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 480.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] font-bold opacity-40 line-through") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-[500] text-[#FF3333] bg-[#FF33331A] px-[12px] py-[6px] rounded-[62px]") -20%

                    div(class="")
                        a(href="#") 
                            div(class="aspect-square truncate w-full")
                                img(src="assets/images/panter-1.png" class="w-full h-full rounded-[20px]")
                            div(class="md:text-[20px] text-[14px] font-bold mt-[20px] mb-[10px]") Quần Short Bermuda
                            div(class="flex items-center")
                                div(class="text-[#FFC633] md:text-[19px] text-[15px] mb-[10px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] opacity-60 md:text-[14px] text-[12px] ") 5/5
                            div(class="flex flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 220.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] font-bold opacity-40 line-through hidden") 600.000đ
                                span(class="md:text-[12px] text-[10px] font-[500] text-[#FF3333] bg-[#FF33331A] px-[12px] py-[6px] rounded-[62px] hidden") -20%

                    div(class="")
                        a(href="#") 
                            div(class="aspect-square truncate w-full")
                                img(src="assets/images/panter-2.png" class="w-full h-full rounded-[20px]")
                            div(class="md:text-[20px] text-[14px] font-bold mt-[20px] mb-[10px]") Quần Jean Màu Đen
                            div(class="flex items-center")
                                div(class="text-[#FFC633] md:text-[19px] text-[15px] mb-[10px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                span(class="ml-[13px] opacity-60 md:text-[14px] text-[12px] ") 5/5
                            div(class="flex flex-wrap")
                                span(class="md:text-[18px] text-[14px] font-bold mr-[10px]") 126.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] font-bold opacity-40 line-through") 180.000đ
                                span(class="md:text-[12px] text-[10px] font-[500] text-[#FF3333] bg-[#FF33331A] px-[12px] py-[6px] rounded-[62px]") -30%
                div(class="text-center lg:mt-[40px] mt-[30px]")
                    a(href="#" class="sm:inline-block block md:text-[16px] text-[14px] font-medium md:py-[16px] py-[14px] px-[63px] border rounded-[62px]") Xem Tất Cả
        //- end section-4
        //- Section-5
        div(class="bg-white md:mb-[86px] mb-[40px]")
            div(class="container mx-auto sm:px-0 px-[16px]")
                div(class="bg-[#F0F0F0] md:px-[64px] px-[24px] md:py-[76px] py-[28px] md:rounded-[40px] rounded-[20px]")
                    h2(class="lg:text-[48px] text-[32px] font-bold text-center lg:mb-[54px] md:mb-[32px] mb-[16px]") DANH MỤC NỔI BẬT
                    div(class="grid lg:grid-cols-3 grid-cols-1 gap-[20px]")
                        div(class="relative rounded-[20px] truncate")
                            a(href="")
                                h3(class="absolute md:top-[26px] top-[17px] left-[24px] md:left-[36px] font-bold md:text-[36px] text-[24px]") Đơn Giản
                                img(src="assets/images/ilutranstion-1.jpg" class="md:h-[289px] h-[190px] w-full object-cover")
                        div(class="lg:col-span-2 col-span-1 relative rounded-[20px] truncate ")
                            a(href="")
                                h3(class="absolute md:top-[26px] top-[17px] left-[24px] md:left-[36px] font-bold md:text-[36px] text-[24px]") Lịch Lãm
                                img(src="assets/images/ilutranstion-2.jpg" class="md:h-[289px] h-[190px] w-full object-cover")
                        div(class="lg:col-span-2 col-span-1 relative rounded-[20px] truncate")
                            a(href="")
                                h3(class="absolute md:top-[26px] top-[17px] left-[24px] md:left-[36px] font-bold md:text-[36px] text-[24px]") Dạ Hội
                                img(src="assets/images/ilutranstion-3.jpg" class="md:h-[289px] h-[190px] w-full object-cover")
                        div(class="relative rounded-[20px] truncate")
                            a(href="")
                                h3(class="absolute md:top-[26px] top-[17px] left-[24px] md:left-[36px] font-bold md:text-[36px] text-[24px]") Gym
                                img(src="assets/images/ilutranstion-4.jpg" class="md:h-[289px] h-[190px] w-full object-cover")

        //- end section-5